.nome-premio {
    margin-bottom: 10px;
}

.dados-do-premio h3 {
    margin-bottom: 6px;
}

.dados-do-premio .detalhe {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding:            4px 8px;
    line-height:        25px;
    border:             1px dashed #AE0345;
    background-color: #ffe4f5;
}

.dados-do-premio span {
    font-size: 12px;
    color:     #666;
}

.dados-do-premio .preco {
    padding:   6px 10px;
    border: solid 1px #004400;
    background-color: #f2ffe3;
    font-size:        13px;
    line-height: 19px;
    font-weight:      bold;
}

.dados-do-premio .preco span {
    color:       #004400;
    font-size:   16px;
    font-weight: normal;
}

.detalhe .comentario {
    line-height: 19px;
}

h4 {
    margin-bottom: 5px;
}

.sem-monitor {
    margin-top: 36px;
}

.premios .lista-premios {
    min-height: 156px;
    margin-top: 15px;
}

.busca {
    text-align: right;
}

.embrulho-da-pesquisa {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    -moz-box-shadow: 0 1px 3px 0 #888 inset;
    -webkit-box-shadow: 0 1px 3px 0 #888 inset;
    margin-right: 20px;
    padding: 3px 5px 2px;
    background-color: #FFF;
    border: 1px solid #999;
    display: inline-block;
}

#campo-busca {
    width: 180px;
    border: medium none;
}

#campo-categoria {
    padding: 3px 0;
}

#botao-pesquisar, #botao-limpar {
    border:         medium none;
    padding: 8px 0;
    background: url("../img/lupa-icon.png") no-repeat left center #FFF;
    width: 13px;
    height: 13px;
    vertical-align: text-top;
    margin-left:    4px;
    text-indent: -9000px;
}

#botao-limpar {
    background-position: right center;
    margin-left: 0;
}

.titulo.cor {
    float: left;
}

.cores-container {
    margin-left: 10px;
    display:     inline-block;
    position: relative;
}

td.cor {
    padding: 0 3px;
    height: 26px;
}

.premio-nome {
    display: none;
    line-height: 10px;
    width: auto;
    height: auto;
    padding: 5px 15px;
}

.premio-nome.ativo {
    display: inline;
    position: absolute;
    margin-top: -35px;
    background-color: #666;
    color: #FFF;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px 3px;
}

.premio-cor {
    display: inline-block;
    width: 30px;
    height:          18px;
    border: 1px solid #777;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 1px 1px 8px 3px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 1px 1px 8px 3px rgba(255, 255, 255, 0.2) inset;
    text-indent: -9000px;
    cursor: pointer;
    line-height: 16px;
}

.premio-cor.ativo {
    width:   80px;
    padding: 15px 0;
    text-align:  center;
    color: #000;
    z-index: 10;
    position: absolute;
    height: auto;
    margin: -9px 0 0 0;
}
