{% extends 'base.html' %}
{% block conteudo %}
    <h2>
        Suas tarefas valem prêmios.
    </h2>
    <div class="linha instrucoes">
        <div class="fourcol">
            <div class="foto-container"></div>
        </div>
        <div class="eightcol last">
            <h3>Para os pais</h3>
            <p class="justificado">
                Conheça a moeda familiar, ILN, e saiba como ela pode lhe ajudar com seus filhos.
                Aprenda como eles podem juntar os ILNs ganhos e trocá-los por prêmios.
                Quanto mais ILNs, melhor o prêmio!
            </p>

            <p class="justificado">
                Filhos não gostam de fazer tarefas como arrumar sua cama, ajudar a lavar a louça e etc.
                Os pais têm dificuldades em incentivar os filhos a fazerem essas tarefas, além de não
                serem capazes de manter a casa arrumada sozinhos.
            </p>

            <p class="justificado">
                Em famílias com 3 ou mais filhos, isso se torna mais complicado. Como alternativa, muitas
                famílias contratam diaristas ou, para as que podem, empregadas domésticas. Mas até mesmo
                nesses casos, conseguir ajuda dos filhos pode representar um desafio.
            </p>
        </div>
        <p class="justificado">
            Se seu problema não é com tarefas domésticas, ainda existem outras tarefas em que você precise
            incentivar seus filhos a fazerem, tais como o dever de casa, ler um livro ou algo do gênero.
        </p>

        <p class="justificado">
            A idéia básica do $ILN.com é oferecer um sistema simples de distribuição de tarefas com recompensa,
            de forma que os próprios filhos podem escolher sua recompensa. As recompensas são em forma de pontos,
            como uma moeda, e esses pontos podem ser trocados por prêmios.
        </p>

        <p class="justificado">
            Os prêmios estão especificados no sistema e o pedido de troca de pontos por prêmios também
            podem ser feitos diretamente pelo site. Cada prêmio tem seu custo (em ILNs) e um prazo de entrega.
            Os próprios pais podem criar os prêmios e definir seu custo e prazo.
        </p>

        <p class="justificado">
            Esse modelo também pode ser usado para que seu filho tenha as primeiras noções de responsabilidade
            no consumo. Quando a própria criança assume a escolha do que ganhar, quando ela precisa pesar o que
            quer com os pontos que tem para trocar, ela está se acostumando a tomar decisões que precisará tomar
            sempre em sua vida adulta.
        </p>

        <p class="justificado">
            A forma realista com que o sistema trata as trocas de prêmio como uma verdadeira compra
            on-line também pode servir de incentivo à criança. Ela estará realizando uma tarefa
            tipicamente adulta, como forma de brincadeira, e com um resultado real.
        </p>

        <p class="justificado">
            Mostre o site a seus filhos, leiam o regulamento no final dessa página e crie a conta de teste
            para sua família. Você receberá instruções de como criar as contas de cada participante e já
            poderá usar o sistema.
        </p>

    </div>

    <div class="linha instrucoes filhos">
        <div class="fourcol">
            <div class="foto-container"></div>
        </div>
        <div class="eightcol last">
            <h3>Para os filhos</h3>
            <p class="justificado">
                Aprenda como suas tarefas podem virar pontos e como usar esses pontos para trocar por prêmios!
                Você poderá ajudar seus pais nas tarefas diárias e ainda ganhar com isso.
            </p>

            <p class="justificado">
                Em nosso sistema, você poderá acompanhar o saldo dos seus ILNs, ver as tarefas que você precisa
                fazer e escolher seu prêmio, que será entregue por seus pais.
            </p>

            <p class="justificado">
                A cada tarefa concluída, seus pais irão depositar o valor correspondente (em ILN) na sua conta.
                Quanto mais tarefas você completar, mais ILNs você ganha. Quanto mais ILNs você juntar melhores
                são os prêmios.
            </p>
        </div>
        <p class="justificado">
            O site ainda funciona como uma verdadeira loja on-line, onde você escolhe os produtos, enche
            seu carrinho de compras e finaliza seu pedido. Os prêmios tem até prazo de entrega!
        </p>

        <p class="justificado">
            Veja abaixo, o regulamento do sistema e peça aos seus pais para criar a conta da sua família.
        </p>
    </div>

    <div class="linha">
        <h3>Regulamento:</h3>
        <div class="onecol"></div>
        <div class="tencol">
            <h4 class="artigo">Art 1º:</h4>
            <p class="regulamento">
                Cada tarefa concluída pelo usuário valem ILNs. O valor de cada tarefa está especificado na
                <a href="{% url tarefas %}">página de Tarefas</a>.
            </p>

            <h4 class="artigo">Art 2º:</h4>
            <p class="regulamento">
                Para acumular ILNs, o usuário precisa estar sempre ganhando. Caso você fique mais de uma semana sem
                ganhar um ILN, seu saldo voltará a ser 0 (zero). Não fique parado!
            </p>

            <h4 class="artigo">Art 3º:</h4>
            <p class="regulamento">
                Os ILNs acumulados nunca expiram. Você poderá trocá-los a qualquer momento e, caso não
                incorram no artigo 2º, irão durar para sempre.
            </p>

            <h4 class="artigo">Art 4º:</h4>
            <p class="regulamento">
                As tarefas que valen ILNs serão oferecidas a você, mas você pode se voluntariar para as
                tarefas listadas na tabela. Nesse caso, um bônus poderá ser oferecido. O valor desse
                bônus encontra-se, também, na <a href="{% url tarefas %}">página de Tarefas</a>.
            </p>

            <h4 class="artigo">Art 5º:</h4>
            <p class="regulamento">
                Algumas tarefas tem tempo determinado. Terminar uma tarefa antes do tempo lhe dará direito
                a um bônus de ILN. Terminar a tarefa após o prazo não irá lhe render ILNs, ou terá algum
                desconto, conforme a tabela.
            </p>

            <h4 class="artigo">Art 6º:</h4>
            <p class="regulamento">
                O usuário poderá, em casos excepcionais, ser penalizado e perder ILNs. Essa penalização
                será avaliada pelos responsáveis do sistema de prêmios e dependem de muitos fatores como:
                competição desleal, falta nas tarefas importantes, desrespeito a outros usuários, danos
                causados pelo usuário a bens comuns e etc
            </p>
        </div>
        <div class="onecol last"></div>
    </div>
    <div class="linha" style="text-align: center;">
        {% include 'adsense-horizontal.html' %}
    </div>
{% endblock conteudo %}
